<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="tqm.bianfeng.com.tqm">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--定位权限-->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--获取手机的联系人-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- <uses-sdk -->
    <!-- tools:overrideLibrary="com.umeng.socialize.evernote,com.umeng.socialize.pinterest" -->
    <!-- /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.Base2Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58d1e1b875ca353afd00167d"/>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qpjb8N7jrtSbs8sCC9FRUWsxLYGXtowC" />

        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote">
        </service>

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 自定义URI 需要 provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <!-- Bugly  -->
        <provider
            android:name=".Util.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource"/>
        </provider>

        <!--接受安装程序广播-->
        <activity
            android:name=".demoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".Main2Activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".main.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".featureguide.global.WelcomeGuideActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"/>


        <!-- 我的关注界面 -->
        <activity
            android:name=".User.MyFocusActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <!-- 我的收藏界面 -->
        <activity
            android:name=".User.MyCollectionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <!-- 我的浏览记录界面 -->
        <activity
            android:name=".User.MyBrowseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <!-- 银行理财 -->
        <activity
            android:name=".bank.bankfinancing.BankFinancingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <!-- 银行活动 -->
        <activity
            android:name=".bank.bankactivitys.BankActivitonsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <!-- 银行贷款 -->
        <activity
            android:name=".bank.bankloan.BankLoanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <!-- 选择城市 -->
        <activity
            android:name=".lawhelp.AllCityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 民间资本 -->
        <activity
            android:name=".capital.PrivateCapitalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 入驻机构 -->
        <activity
            android:name=".User.CompanyApplyForActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 机构信息详情 -->
        <activity
            android:name=".Institutions.CompanyInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 简介 -->
        <activity
            android:name=".Institutions.MoreProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 机构搜索界面 -->
        <activity
            android:name=".Institutions.SearchInstiutionsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 申请选择界面 -->
        <activity
            android:name=".User.applyforactivity.ApplyForChooseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 申请界面 -->
        <activity
            android:name=".User.applyforactivity.ApplyForActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 申请状态 -->
        <activity
            android:name=".User.applyforactivity.ApplyForStatusActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 发布状态 -->
        <activity
            android:name=".User.release.ReleaseProgressActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 发布活动信息 -->
        <activity
            android:name=".User.release.ReleaseMyActivityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 举报纠错 -->
        <activity
            android:name=".User.CorrectOrReportActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!-- 我发布的信息 -->
        <activity
            android:name=".User.release.MyReleaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 发布信息选择 -->
        <activity
            android:name=".User.release.ReleaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <!-- 发布贷款或活动信息 -->
        <activity
            android:name=".User.release.LoanOrActivityReleaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
         <!-- 多图选择界面 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>
        <!-- 裁剪 -->
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>


        <activity
            android:name=".User.MyBankActivityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".User.MyBankLoanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".User.MyBankMakeMoneyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".User.UserFeedbackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".main.DetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <service android:name=".update.UpdateService"/>

        <activity
            android:name=".bank.bankinformations.BankInformationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".bank.bankinformations.test.NewBankInformationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/bankInformationTheme">
        </activity>
        <activity
            android:name=".User.demo"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme">
        </activity>

        <!-- 分享activity -->

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent100424468"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>
        <activity android:name=".bank.bankinformations.BankInformationActivity3"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <activity android:name=".bank.bankinformations.BankInformationActivity4"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--快速贷款-->
        <activity android:name=".bank.quickloan.QuickLoanActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--基本信息-->
        <activity android:name=".bank.quickloan.BasicInformationActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--资产信息-->
        <activity android:name=".bank.quickloan.AssetInformationActivity"
                  android:windowSoftInputMode="adjustPan"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--申请提交-->
        <activity android:name=".bank.quickloan.SubmitInformationActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--我的申请-->
        <activity android:name=".User.View.ApplyForSudelChooseActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--订单中心-->
        <activity android:name=".User.order.OrderActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>
        <!--订单详情-->
        <activity android:name=".User.order.OrderDetailActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <!--官网-->
        <activity android:name=".main.WebsiteActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <!--车辆评估-->
        <activity android:name=".main.vehicle.VehicleEvaluationActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <!--我的申请-->
        <activity android:name=".User.applyforactivity.MyApplyForActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <!--名片收集-->
        <activity android:name=".main.cardcollection.CardCollectionActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <!--积分列表-->
        <activity android:name=".User.UserIntegralActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <!--首页展示支付-->
        <activity android:name=".User.applyforactivity.MyApplyForPayActivity"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
        </activity>

        <!--选择车型-->
        <!--支付宝-->
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->


    </application>

</manifest>